html {
	overflow-x: hidden;
	background-color: white;
}

img,p,a{
    font-family: main;
	user-select: none;
	-webkit-user-drag: none;
}

#animation_frame {
    position: fixed;
    z-index: 20;
    top:-20px;
    animation-name: pagechange_right;
    animation-duration: 4s;
    animation-fill-mode: forwards;
	height: 110vh;
}

html::-webkit-scrollbar {
	background: rgba(0,0,0,0);
	width: 0;
	user-select: none;
	-webkit-user-drag: none;
}

@font-face {
    font-family: main;
    src: url("../misc/font/Sylvia_Angel.ttf");
}

.grid_ribbon {
    top:5px;
	position: fixed;
	display: inline-grid;
    grid: auto / auto auto auto auto;
    gap:clamp(15px,5vw,200px);
    outline-color: black;
    outline-width: 1px;
    z-index: 15;
}

#logo{
	height: clamp(70px,10vw,130px);
	z-index: 15;
}

#subjects, #koikoi, #settings{
    height: clamp(40px,5vw,70px);
    width: auto;
    padding-top: clamp(10px,2.5vw,25px);
    z-index: 15;
    animation-name: duringanimation_page;
    animation-duration: 8s;
	zoom:90%;

}

#ribbon_underline{
    position: fixed;
	height: clamp(80px,12vw,145px);
    width: 105vw;
	margin:-8px;
    z-index: 14;
}

/*///////////////////////////////////////////////////////
//////////////////// Subject.html ///////////////////////
///////////////////////////////////////////////////////*/

#subjectarea{
	top:clamp(65px,10vw,125px);
	position: absolute;
}

.subjecttext{
	font-size: clamp(18px,2.5vw,30px);
    letter-spacing: 0.1em;
	text-indent:clamp(0px,0.5vw,10px);
	margin-top:clamp(10px,5vw,50px);
	padding:10px;
}

.lessontext{
	font-size: clamp(14px,2.5vw,26px);
    letter-spacing: 0.1em;
	left:55px;
	width:auto;
	text-indent: clamp(50px,5vw,100px);
	margin-top:clamp(10px,2vw,35px);
	margin-bottom:clamp(10px,2vw,35px);
	opacity: 0; 
	display: none;
}

.learntext{
	font-weight: 600;
	outline: clamp(1px,0.25vw,2px) solid black;
	padding: clamp(1px,0.25vw,5px);
	border-radius: clamp(2px,0.25vw,10px);
}

/*///////////////////////////////////////////////////////
//////////////////// lessons.html ///////////////////////
///////////////////////////////////////////////////////*/

.arrow {
	width: clamp(60px,8vw,75px);
	margin: clamp(15px,4vw,25px);
}

#leftarrow{
	position:fixed;
	bottom:0;
	left:0;
	visibility: hidden;
}

#rightarrow{
	position:fixed;
	bottom:0;
	right:0;
}

#lessontextbox{
	width:95vw;
 	height:clamp(0px,60vh,570px);
	left:50%;
	transform: translate(-50%,0);
	top: clamp(270px,20vw,425px);
	position: absolute;
	outline: 1px solid black;
	font-family: main;
	white-space: pre-wrap;
	text-align: center;
	user-select: none;
	-webkit-user-drag: none;
	font-size: clamp(20px,2vw,30px);
    letter-spacing: 0.1em;
	line-height: clamp(50px,8vw,70px);
	overflow-y: scroll;
	overflow-x: hidden;
	word-break:keep-all;
}

#lessontextbox::-webkit-scrollbar {
	background: transparent;
}

#lessontitle{
	width:100vw;
	margin: 5px;
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	text-align: center;
    font-size: clamp(25px,4vw,50px);
    letter-spacing: 0.1em;
}

#learningyuyo{
	width:clamp(150px,12vw,250px);
	position: absolute;
  	left: 50%;
	top:110px;
  	transform: translate(-50%, 0);
}

#lessonexit{
	font-family: main;
	min-width: auto;
	padding:10px;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 15px;
    letter-spacing: 0.1em;
}

#lessonexit:hover{
	cursor: pointer;
	outline: 1px solid black;
}

/*///////////////////////////////////////////////////////
//////////////////// koikoi.html ////////////////////////
///////////////////////////////////////////////////////*/

#gamearea{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -40%); 
    margin-top: -50px;
    margin-left: -50px;
	width:2550px;
	height:1700px;
	-webkit-user-drag: none;
	overflow-y: hidden;
	overflow-x: hidden;
	word-break:keep-all;
}

div{
	user-select: none;
	-webkit-user-drag: none;
}

#yuyohandgroup{
	position:absolute;
	left:1700px;
	top:30px;
	zoom: 110%;
}
#yuyohand{
	position:absolute;
	top:160px;
	left: 10px;
	z-index: 1;
}
#koikoiyuyo{
	position:absolute;
	left:160px;
	z-index: 0;
}

#card1{
	position:absolute;
	z-index: 4;
	rotate: -15deg;
	left:110px;
	top:120px;
	width:90px;
}
#card2{
	position:absolute;
	z-index: 3;
	rotate: 0deg;
	left:160px;
	top:120px;
	width: 90px;
}
#card3{
	position:absolute;
	z-index: 2;
	rotate: 15deg;
	left:210px;
	top:120px;
	width: 90px;
}

#yuyokoikoicombos {
	position: absolute;
	width: 1300px;
	height: 450px;
	top: 50px;
	left:450px;
	display: grid;
	grid-template-columns: 210px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 100px 100px 100px 100px;
}


#playercards{
	position: absolute;
	width: 1050px;
	height: 450px;
	top: 1250px;
	left:100px;
	display: grid;
	grid-template-columns: 130px 130px 130px 130px 130px 130px 130px 130px;
	grid-template-rows: 210px 210px;
}

#playercombos{
	position: absolute;
	width: 1300px;
	height: 450px;
	top: 1275px;
	left:1155px;
	display: grid;
	grid-template-columns: 125px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 100px 100px 100px 100px;
}
.setcards{
	height: 72px;
	width: 42px;
	outline: 1px solid #d8d8d8
}
.typetext{
	font-family: main;
	font-size: 30px;
	letter-spacing: 4px;
	margin-top: 15px;
	width: 200px;
}

#maindeck{
	position: absolute;
	width: 150px;
	height: 260px;
	padding:30px;
	top: 695px;
	left:120px;
}
#cardresult,#cardback,#standingdeck{
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid #d8d8d8
}

#cardresult{
	z-index: 2;
	animation-name: flip;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#cardback{
	z-index: 3;
	animation-name: backflip;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes backflip{
	0% {transform: rotate3d(0, 1, 0, 0deg); top: 0; z-index: 3;}
	50% {transform: rotate3d(0, 1, 0, -90deg); top: -300px; z-index: 3;}
	51% {z-index: 1;}
	100% {transform: rotate3d(0, 1, 0, -180deg); top: 0; z-index: 1;}
}

@keyframes flip{
	0% {transform: rotate3d(0, 1, 0, 0deg); top: 0;}
	50% {transform: rotate3d(0, 1, 0, -90deg); top: -300px;}
	100% {transform: rotate3d(0, 1, 0, -180deg); top: 0;}
}

@keyframes fadedown{
	0% {top: 0; opacity: 100%;}
	100% {top: 200px; opacity: 0%;}
}
@keyframes fadeup{
	0% {top: 0; opacity: 100%;}
	100% {top: -200px; opacity: 0%;}
}


#maintable {
	position: absolute;
	width: 1800px;
	height: 600px;
	top: 500px;
	left:350px;
	padding:30px;
	display: grid;
  	grid-template-columns: var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap);
	grid-template-rows: 330px 330px;
}
.card{
	height: 257px;
	width: 150px;
	outline: 1px solid #d8d8d8
}
.yourcards{
	height: 192px;
	width: 112px;
	outline: 1px solid #d8d8d8
}


/*///////////////////////////////////////////////////////
////////////////////// music.html ///////////////////////
///////////////////////////////////////////////////////*/

#playpause{
	position: absolute;
	font-size: 150px;
	letter-spacing: 5px;
	margin: 0;
	top:850px;
	left: 560px;
	width: 150px;
	line-height: 150px;
	cursor: pointer;
	outline: 8px solid #000000;
	border-radius: 10px;
}

#playpause:active{
	margin-top: 100px;
	margin-left: 68px;
	zoom:90%;
}

#newsong{
	position: absolute;
	font-size: 75px;
	letter-spacing: 5px;
	top:950px;
	left: 475px;
}

#newsong:active{
	margin-top: 195px;
	margin-left: 65px;
	zoom:90%;
}

#newsonginfo{
	position: absolute;
	font-size: 25px;
	letter-spacing: 3px;
	line-height: 20px;
	top:1100px;
	text-align: center;
	width:500px;
	left: 385px;
}

#musicinfo{
	position: absolute;
	text-align: center;
	font-size: 45px;
	letter-spacing: 4px;
	top:-40px;
}

#artistname{
	position: absolute;
	text-align: center;
	font-size: 40px;
	letter-spacing: 4px;
	top:513px;
	left:450px;
	width:400px;
	padding-top: 20px;
	padding-bottom: 20px;
	outline: 1px solid black;
}

#songname{
	position: absolute;
	text-align: center;
	font-size: 50px;
	letter-spacing: 4px;
	top:250px;
	left:450px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	outline: 1px solid black;
}

#albumcover{
	position: absolute;
	width: 400px;
	top:300px;
	left:20px;
	outline: 1px solid;
}

#dancingyuyo{
	position: absolute;
	left: 50px;
	top:800px;
	animation-name: dancing;
	animation-duration: 1.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function:ease-in;
}

#headphones{
	position: absolute;
	zoom:40%;
	left: 95px;
	top: -300px
}

#musicyuyo{
	position: absolute;
	
}

@keyframes dancing {
	0% {transform: matrix(1,0,0.2,1,0,0) translate(-80px,0px);}
	25% {transform: matrix(1,0,-0.1,0.9,0,0) translate(50px,50px);}
	50% {transform: matrix(1,0,-0.2,1,0,0) translate(80px,0px);}
	75% {transform: matrix(1,0,0.1,0.9,0,0) translate(-50px,50px);}
	100% {transform: matrix(1,0,0.2,1,0,0) translate(-80px,0px);}
}

@keyframes duringanimation_page {
    0% {pointer-events: none;}
    100% {pointer-events: all;}
}

@keyframes pagechange_left {
    from {left:130%;}
    to {left:-600px;}
}

@keyframes pagechange_right {
    from {left:-600px;}
    to {left:130%;}
}