html {
	overflow-x: hidden;
	background-color: #ffffff;
}

body{
	width: 98vw;
	height: 98vh;
}

#darkmode{
	position: fixed;
	width:100vw;
	height: 100vh;
	z-index: 30;
	background-color: #d8d8d8;
	mix-blend-mode: exclusion;
	margin:-8px;
	user-select: none;
	-webkit-user-drag: none;
	pointer-events: none;
	opacity: 0;
}

img,p,a,div,h1{
    font-family: main;
	letter-spacing: 0.1em;
	user-select: none;
	-webkit-user-drag: none;
}

#animation_frame {
    position: fixed;
    z-index: 20;
    top:-20px;
    animation-name: pagechange_right;
    animation-duration: 4s;
    animation-fill-mode: forwards;
	height: 110vh;
}

html::-webkit-scrollbar {
	background: rgba(0,0,0,0);
	width: 0;
	user-select: none;
	-webkit-user-drag: none;
}

@font-face {
    font-family: main;
    src: url("../misc/font/Sylvia_Angel.ttf");
}

.grid_ribbon {
    top:5px;
	position: fixed;
	display: inline-grid;
    grid: auto / auto auto auto auto auto;
    gap:clamp(5px,2.5vw,200px);
    outline-color: black;
    outline-width: 1px;
    z-index: 15;
}

#logo{
	height: clamp(65px,10vw,130px);
	z-index: 15;
}

#subjects, #koikoi, #settings, #darklight{
    height: clamp(22.5px,5vw,70px);
    width: auto;
    padding-top: clamp(24px,2.5vw,25px);
    z-index: 15;
    animation-name: duringanimation_page;
    animation-duration: 5s;
	zoom:90%;
}

#darklight{
	margin-top: clamp(11px,2vw,15px);
	zoom:70%;
}

#ribbon_underline{
    position: fixed;
	height: clamp(80px,12vw,145px);
    width: 105vw;
	margin:-8px;
    z-index: 14;
}

@keyframes duringanimation_page {
    0% {pointer-events: none;}
    100% {pointer-events: all;}
}

@keyframes pagechange_left {
    from {left:120vw;}
    to {left:-500px;}
}

@keyframes pagechange_right {
    from {left:-500px;}
    to {left:120vw;}
}

/*///////////////////////////////////////////////////////
//////////////////// Subject.html ///////////////////////
///////////////////////////////////////////////////////*/

#subjectarea{
	top:clamp(55px,10vw,115px);
	position: absolute;
}

.subjecttext{
	font-size: clamp(18px,2vw,25px);
	text-indent:clamp(0px,1vw,10px);
	margin-top:clamp(50px,7vw,85px);
}

.lessontext{
	font-size: clamp(12px,2vw,20px);
	width:auto;
	text-indent: clamp(20px,2vw,100px);
	margin-top:clamp(10px,2vw,25px);
	margin-bottom:clamp(10px,2vw,25px);
	opacity: 0; 
	display: none;
}

.learntext{
	font-weight: 600;
	text-wrap: nowrap;
	margin-left: clamp(5px,2.5vw,40px);
	outline: clamp(1px,0.25vw,2px) solid black;
	padding: clamp(1px,0.25vw,5px);
	border-radius: clamp(2px,0.25vw,10px);
}

/*///////////////////////////////////////////////////////
//////////////////// lessons.html ///////////////////////
///////////////////////////////////////////////////////*/

.arrow {
	width: clamp(60px,8vw,75px);
	margin: clamp(15px,4vw,25px);
}

#leftarrow{
	position:fixed;
	bottom:0;
	left:0;
	visibility: hidden;
}

#rightarrow{
	position:fixed;
	bottom:0;
	right:0;
}

#lessontextbox{
	width:95vw;
 	height:clamp(450px,-60vw,600px);
	left:50%;
	transform: translate(-50%,0);
	top: clamp(270px,20vw,425px);
	position: absolute;
	outline: 1px solid black;
	font-family: main;
	white-space: pre-wrap;
	text-align: center;
	user-select: none;
	-webkit-user-drag: none;
	font-size: clamp(18px,2vw,30px);
	line-height: clamp(50px,5vw,70px);
	font-weight: 700;
	overflow-y: scroll;
	overflow-x: hidden;
	word-break:keep-all;
}

#lessontextbox::-webkit-scrollbar {
	background: transparent;
}

#lessontitle{
	width:100vw;
	margin: 5px;
	left:50%;
	transform: translate(-50%,0);
	position: absolute;
	text-align: center;
    font-size: clamp(25px,4vw,50px);
}

#learningyuyo{
	width:clamp(150px,12vw,250px);
	position: absolute;
  	left: 50%;
	top:110px;
  	transform: translate(-50%, 0);
}

#lessonexit{
	position: absolute;
	font-family: main;
	top:clamp(110px,10vw,160px);
	padding: clamp(2px,0.5vw,5px);
	width:clamp(100px,10vw,150px);
	user-select: none;
	-webkit-user-drag: none;
	font-size: clamp(15px,2vw,25px);
}

/*///////////////////////////////////////////////////////
//////////////////// koikoi.html ////////////////////////
///////////////////////////////////////////////////////*/

#fullscreen{
	position: absolute;
	margin: -8px;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 12;
	visibility: visible;
}
#fullscreentext{
	position: absolute;
	width: 100vw;
	left: 50%;
	top: 30%;
	text-align: center;
	transform: translate(-50%, -30%);
	font-size: 50px;
}
#fullscreenyuyo{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -70%);
	zoom: 0.6;
}
#gamearea{
	position: absolute;
	width:100vw;
	height:100vh;
	margin: -8px;
	-webkit-user-drag: none;
	overflow-y: hidden;
	overflow-x: hidden;
	word-break:keep-all;
	z-index: 1;
}

#yuyohandgroup{
	position:absolute;
	left: 70%;
	top: 50%;
	zoom:2.5;
	transform: translate(calc(-70%), calc(-50% - 150px));
}
#yuyohand{
	position:absolute;
	z-index: 1;
	width:75px;
	top:40px;
	left:-15px;
}
#koikoiyuyo{
	position:absolute;
	z-index: 0;
	width: 100px;

}

#card1{
	position:absolute;
	width: 18px;
	aspect-ratio: 1/1.72;
	z-index: 4;
	top:35px;
	left:8px;
	rotate: -15deg;
}
#card2{
	position:absolute;
	width: 18px;
	aspect-ratio: 1/1.72;
	top:32px;
	left:18px;
	z-index: 3;
	rotate: 0deg;

}
#card3{
	position:absolute;
	width: 18px;
	aspect-ratio: 1/1.72;
	top:35px;
	left:28px;
	z-index: 2;
	rotate: 15deg;

}

#yuyokoikoicombos {
	position: absolute;
	left: 35%;
	top: 20%;
	transform: translate(calc(-35%),calc(-20% + 5px));
	display: grid;
	grid-template-columns: 125px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px ;
	grid-template-rows: 60px 60px 60px 60px;
}


#playercards{
	position: absolute;
	left: 20%;
	top: 95%;
	transform: translate(calc(-20%),calc(-95% + 10px));
	display: grid;
	grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
	grid-template-rows: 130px 130px;
}

#playercombos{
	position: absolute;
	left: 95%;
	top: 95%;
	transform: translate(calc(-95%),calc(-95% + 5px));
	display: grid;
	grid-template-columns: 75px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px ;
	grid-template-rows: 60px 60px 60px 60px;
}
.setcards{
	width: 30px;
	aspect-ratio: 1/1.72;
	outline: 1px solid #d8d8d8
}
.typetext{
	font-family: main;
	margin-top: 0;
	font-size: 20px;
	letter-spacing: 0.1em;
}

#maindeck{
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(calc(-20%),calc(-50% - 15px));
}
#cardresult,#cardback,#standingdeck{
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid #d8d8d8
}

#cardresult{
	z-index: 2;
	/* animation-name: flip;
	animation-duration: 1s;
	animation-fill-mode: forwards; */
}

#cardback{
	z-index: 3;
	/* animation-name: backflip;
	animation-duration: 1s;
	animation-fill-mode: forwards; */
}

#maintable {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(calc(-50% + 25px),calc(-60%));
	display: grid;
  	grid-template-columns: 105px 105px 105px 105px 105px 105px 105px 105px 105px ;
	grid-template-rows: 175px 175px ;
}
.card{
	width: 90px;
	aspect-ratio: 1/1.72;
	outline: 1px solid #d8d8d8
}
.yourcards{
	width: 70px;
	aspect-ratio: 1/1.72;
	outline: 1px solid #d8d8d8
}

@keyframes backflip{
	0% {transform: rotate3d(1, 1, 0, 0deg); top: 0; z-index: 3;}
	25% {transform: rotate3d(1, 1, 0, -90deg); top: -150px; z-index: 3;}
	26% {z-index: 1;}
	50% {transform: rotate3d(0, 0, 1, -10deg); top: -150px; z-index: 1;}
	100% {transform: rotate3d(0, 0, 1, 0deg); top: 0; z-index: 1;}
}

@keyframes flip{
	0% {transform: rotate3d(1, 1, 0, 0deg); top: 0;}
	25% {transform: rotate3d(1, 1, 0, -90deg); top: -150px;}
	26% {z-index: 2;}
	50% {transform: rotate3d(0, 0, 1, -10deg); top: -150px;}
	100% {transform: rotate3d(0, 0, 1, 0deg); top: 0;}
}

/*///////////////////////////////////////////////////////
//////////////////// koikoi.html ////////////////////////
/////////////////////// mobile //////////////////////////
///////////////////////////////////////////////////////*/

@media screen and (pointer:none), (pointer:coarse) {
	#fullscreen{
		visibility: hidden;
		opacity: 0;
	}
	
	#gamearea{
		position: absolute;
		width:100vw;
		height:93vh;
		margin: -8px;
		-webkit-user-drag: none;
		overflow-y: hidden;
		overflow-x: hidden;
		word-break:keep-all;
	}

	#yuyohandgroup{
		position:absolute;
		left: 50%;
		top: 50%;
		zoom:1.1;
		transform: translate(calc(-50% - 45px), calc(-50% - 265px));
	}
	#yuyohand{
		position:absolute;
		z-index: 1;
		width:75px;
		top:40px;
		left:-15px;
	}
	#koikoiyuyo{
		position:absolute;
		z-index: 0;
		width: 100px;
	}

	#card1{
		position:absolute;
		width: 18px;
		aspect-ratio: 1/1.72;
		z-index: 4;
		top:35px;
		left:8px;
		rotate: -15deg;

	}
	#card2{
		position:absolute;
		width: 18px;
		aspect-ratio: 1/1.72;
		top:32px;
		left:18px;
		z-index: 3;
		rotate: 0deg;

	}
	#card3{
		position:absolute;
		width: 18px;
		aspect-ratio: 1/1.72;
		top:35px;
		left:28px;
		z-index: 2;
		rotate: 15deg;

	}

	#yuyokoikoicombos {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(calc(-50% + 5px),calc(-50% - 115px));
		display: grid;
		grid-template-columns: 32px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px ;
		grid-template-rows: 25px 25px 25px 25px;
	}


	#playercards{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(calc(-50%),calc(-50% + 310px));
		display: grid;
		grid-template-columns: 42px 42px 42px 42px 42px 42px 42px 42px;
		grid-template-rows: 68px 68px;
	}

	#playercombos{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(calc(-50% + 5px),calc(-50% + 180px));
		display: grid;
		grid-template-columns: 32px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px 13px ;
		grid-template-rows: 25px 25px 25px 25px;
	}
	.setcards{
		width: 10px;
		aspect-ratio: 1/1.72;
		outline: 1px solid #d8d8d8
	}
	.typetext{
		font-family: main;
		margin-top: 0;
		font-size: 8px;
		letter-spacing: 0.1em;
	}

	#maindeck{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(calc(-50% - 188px),-50%);
	}
	#cardresult,#cardback,#standingdeck{
		position: absolute;
		top: 0;
		left: 0;
		outline: 1px solid #d8d8d8
	}

	#cardresult{
		z-index: 2;
		/* animation-name: flip;
		animation-duration: 1s;
		animation-fill-mode: forwards; */
	}

	#cardback{
		z-index: 3;
		/* animation-name: backflip;
		animation-duration: 1s;
		animation-fill-mode: forwards; */
	}

	@keyframes backflip{
		0% {transform: rotate3d(1, 1, 0, 0deg); top: 0; z-index: 3;}
		25% {transform: rotate3d(1, 1, 0, -90deg); top: -50px; z-index: 3;}
		26% {z-index: 1;}
		50% {transform: rotate3d(0, 0, 1, -10deg); top: -50px; z-index: 1;}
		100% {transform: rotate3d(0, 0, 1, 0deg); top: 0; z-index: 1;}
	}
	
	@keyframes flip{
		0% {transform: rotate3d(1, 1, 0, 0deg); top: 0;}
		25% {transform: rotate3d(1, 1, 0, -90deg); top: -50px;}
		26% {z-index: 2;}
		50% {transform: rotate3d(0, 0, 1, -10deg); top: -50px;}
		100% {transform: rotate3d(0, 0, 1, 0deg); top: 0;}
	}


	#maintable {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(calc(-50% + 25px),calc(-50% + 30px));
		display: grid;
		grid-template-columns: 38px 38px 38px 38px 38px 38px 38px 38px 38px ;
		grid-template-rows: 60px 60px ;
	}
	.card{
		width: 30px;
		aspect-ratio: 1/1.72;
		outline: 1px solid #d8d8d8
	}
	.yourcards{
		width: 35px;
		aspect-ratio: 1/1.72;
		outline: 1px solid #d8d8d8
	}
}



/*///////////////////////////////////////////////////////
////////////////////// music.html ///////////////////////
///////////////////////////////////////////////////////*/

#upper{
	position: absolute;
	top:10px;
	z-index: 1;
	font-size: clamp(20px,2vw,30px);
	width:70vw;
	top:0;
	left:10%;
	transform:translate(-10%,0);
	text-align: center;
}

#mid{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size: clamp(20px,2vw,30px);
	width:95vw;
	z-index: 1;
	text-align: center;
}

#lower{
	position: absolute;
	top:95%;
	left:50%;
	transform:translate(-50%,-95%);
	width: 95vw;
	text-align: center;
	z-index: 1;
}

#playpause{
	text-align: center;
	line-height: 0px;
	font-size: 50px;
}

#newsong{
	text-align: center;
	font-size: clamp(20px,2vw,60px);
}

#newsonginfo{
	text-align: center;
	font-size:clamp(10px,2vw,30px);
}

#artistname{
	margin-top: -10px;
	font-size: 12px;
}

#dancingyuyo{
	animation-name: dancing;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	--yuyodancing_width: 85px;
	width: var(--yuyodancing_width);
	position: absolute;
	top:5%;
	left:72%;
}

#mobileuse{
	visibility: hidden;
}

@media (pointer:none), (pointer:coarse) {
	#upper,#mid,#lower,#dancingyuyo{
		z-index: 1;
	}

	#mobileuse {
		visibility: visible;
		position: absolute;
		width: 100vw;
		height: 100%;
		margin: -8px;
	}
	
	#mobileuse_background{
		position: absolute;
		width: 100vw;
		height: 93vh;
		z-index: 10;
		background-color: rgb(0, 0, 0,0.5);
	}

	#mobileuse_textbox{
		position: absolute;
		width: 80vw;
		height: 80vh;
		padding: 10px;
		border-radius: 10px;
		left:50%;
		top:-100%;
		transform: translate(-50%,-50%);
		z-index: 15;
		background-color: rgba(255, 255, 255, 1);
		animation-name: mobilemessagefadein;
		animation-duration: 2s;
		animation-fill-mode: forwards;

	}

	#mobileuse_ok{
		position: absolute;
		font-size:30px;
		right:0;
		bottom: 0;
		margin:20px;
		padding: 10px;
		width:80px;
		text-align: center;
		border-radius: 10px;
		outline: 2px solid black;
	}
}

@keyframes mobilemessagefadein {
	from{top:200%;}
	to{top:50%;}
}

@keyframes mobilemessagefadeout {
	from{top:0;}
	to{top:-120%;}
}

@keyframes dancing {
	0% {transform: matrix(1,0,0.2,1,1,1)translate(calc((var(--yuyodancing_width)/10*-1)),calc(var(--yuyodancing_width)/10*-1));}
	25% {transform: matrix(1,0,0.1,0.9,1,1)translate(calc((var(--yuyodancing_width)/10/2*-1)),calc((var(--yuyodancing_width)/10/2)*-1));}
	50% {transform: matrix(1,0,0.0,0.8,1,1)translate(0px,0px);}
	75% {transform: matrix(1,0,-0.1,0.9,1,1)translate(calc(var(--yuyodancing_width)/10/2),calc((var(--yuyodancing_width)/10/2)*-1));}
	100% {transform: matrix(1,0,-0.2,1,1,1)translate(calc(var(--yuyodancing_width)/10),calc(var(--yuyodancing_width)/10*-1));}
}