html {
    overflow: hidden;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

#logo{
    position: absolute;
    left: 0;
    right:0;
    top: 25%;
    margin: auto;
    zoom:100%;
    animation-name: logo_rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}


@keyframes logo_rotate {
   from {rotate: -5deg;}
   to {rotate: 5deg;}
}

@media screen and (max-width: 4000px) {
    html{zoom:75%}
}

@media screen and (max-width: 2000px) {
    html{zoom:70%}
}

@media screen and (max-width: 1850px) {
    html{zoom:67.5%}
}

@media screen and (max-width: 1700px) {
    html{zoom:65%}
}

@media screen and (max-width: 1550px) {
    html{zoom:62.5%}
}

@media screen and (max-width: 1400px) {
    html{zoom:60%}
}

@media screen and (max-width: 1250px) {
    html{zoom:55%}
}

@media screen and (max-width: 1100px) {
    html{zoom:50%}
}

@media screen and (max-width: 950px) {
    html{zoom:45%}
    .grid_ribbon {gap:225px}
}

@media screen and (max-width: 800px) {
    html{zoom:40%}
    .grid_ribbon {gap:175px}
}

@media screen and (max-width: 650px) {
    html{zoom:35%}
    .grid_ribbon {gap:100px}
}