html {
	overflow-x: hidden;
	zoom:40%;
	width:5000px;
	background-color: white;
}

img,p,a{
    font-family: main;
	user-select: none;
	-webkit-user-drag: none;
}

.grid_ribbon {
    top:5px;
	position: fixed;
	display: inline-grid;
    grid: auto / auto auto auto auto;
    gap:150px;
    outline-color: black;
    outline-width: 1px;
    z-index: 15;
}

#subjects, #koikoi, #settings{
    height: 100px;
    width: auto;
    padding-top: 40px;
    padding-bottom: 35px;
    z-index: 15;
    animation-name: duringanimation_page;
    animation-duration: 8s;
	zoom:90%;

}

#subjects:hover, #koikoi:hover, #settings:hover{
    padding-top: 25px;
    padding-bottom: 45px;
}

#ribbon_underline{
    position: fixed;
    top: -250px;
    left:0px;
    width: 6500px;
    z-index: 14;
}

#animation_frame {
    position: fixed;
    z-index: 13;
    top:-20px;
    left:-30%;
    animation-name: pagechange_right;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    zoom:180%;
}

#logo{
    z-index: 15;
}

html::-webkit-scrollbar {
	background: rgba(0,0,0,0);
	width: 0;
	user-select: none;
	-webkit-user-drag: none;
}



@font-face {
    font-family: main;
    src: url("font/Sylvia_Angel.ttf");
}

/*///////////////////////////////////////////////////////
//////////////////// Subject.html ///////////////////////
///////////////////////////////////////////////////////*/

.subjecttext{
	font-size: 50px;
    letter-spacing: 5px;
	left:55px;
	margin-top:100px;
	width:810px;
	padding:10px;
}

.subjecttext:hover{
    cursor:pointer;
	font-weight: bold;
}

.lessontext{
	font-size: 50px;
    letter-spacing: 5px;
	left:55px;
	width:auto;
	text-indent: 150px;
	margin:-20px;
	margin-top:20px;
	margin-bottom:40px;
	opacity: 0; 
	display: none;
}

.learntext{
	margin-left:150px;
	outline: 4px solid black;
}

.learntext:hover, .quiztext:hover{
	cursor:pointer;
	font-weight: bold;
}

/*///////////////////////////////////////////////////////
//////////////////// lessons.html ///////////////////////
///////////////////////////////////////////////////////*/

.arrow {
	height:150px;
	margin: 100px;
}

.arrow:hover{
	cursor: pointer;
}

#leftarrow{
	position:fixed;
	bottom:0;
	left:0;
	visibility: hidden;
}

#rightarrow{
	position:fixed;
	bottom:0;
	right:0;
}

#lessontextbox{
	width:200vw;
	height:800px;
	margin: 10px;
	position: absolute;
	outline: 1px solid black;
	top: 40%;
	left:10%;
	
	font-family: main;
	white-space: pre-wrap;
	text-align: center;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 50px;
    letter-spacing: 5px;
	line-height: 80px;
	padding: 40px;
	padding-top: 25px;
	padding-right: 25px;
	overflow-y: scroll;
	overflow-x: hidden;
	word-break:keep-all;
}

#lessontextbox::-webkit-scrollbar {
	width: 15px;
	background: transparent;
}

#lessontextbox::-webkit-scrollbar-thumb{
	background: #000000;
	border-radius: 15px;
}

#lessontitle{
	width:200vw;
	height:100px;
	margin: 10px;
	position: absolute;
	top: 1%;
	left:10%;
	text-align: center;
	
    font-size: 100px;
    letter-spacing: 5px;
}

#learningyuyo{
	width:500px;
	height:500px;
	position: absolute;
  	left: 50%;
	top: 18%;
  	transform: translate(-50%, 0%);
}

#lessonexit{
	font-family: main;
	width:min-content;
	min-width: auto;
	padding:10px;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 50px;
    letter-spacing: 5px;
}

#lessonexit:hover{
	cursor: pointer;
	outline: 1px solid black;
}

/*///////////////////////////////////////////////////////
//////////////////// koikoi.html ////////////////////////
///////////////////////////////////////////////////////*/

div{
	user-select: none;
	-webkit-user-drag: none;
}

#yuyohandgroup{
	position:absolute;
	left:1700px;
	top:30px;
	zoom: 110%;
}
#yuyohand{
	position:absolute;
	top:160px;
	left: 10px;
	z-index: 1;
}
#koikoiyuyo{
	position:absolute;
	left:160px;
	z-index: 0;
}

#card1{
	position:absolute;
	z-index: 4;
	rotate: -15deg;
	left:110px;
	top:120px;
	width:90px;
	outline: 1px solid #0e0e0e;
}
#card2{
	position:absolute;
	z-index: 3;
	rotate: 0deg;
	left:160px;
	top:120px;
	width: 90px;
	outline: 1px solid #0e0e0e;
}
#card3{
	position:absolute;
	z-index: 2;
	rotate: 15deg;
	left:210px;
	top:120px;
	width: 90px;
	outline: 1px solid #0e0e0e;
}

#yuyokoikoicombos {
	position: absolute;
	width: 1300px;
	height: 450px;
	top: 50px;
	left:450px;
	display: grid;
	grid-template-columns: 210px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 100px 100px 100px 100px;
}


#playercards{
	position: absolute;
	width: 1050px;
	height: 450px;
	top: 1250px;
	left:100px;
	display: grid;
	grid-template-columns: 130px 130px 130px 130px 130px 130px 130px 130px;
	grid-template-rows: 210px 210px;
}

#playercombos{
	position: absolute;
	width: 1300px;
	height: 450px;
	top: 1275px;
	left:1155px;
	display: grid;
	grid-template-columns: 125px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 100px 100px 100px 100px;
}
.setcards{
	height: 72px;
	width: 42px;
	outline: 1px solid #d8d8d8
}
.typetext{
	font-family: main;
	font-size: 30px;
	letter-spacing: 4px;
	margin-top: 15px;
	width: 200px;
}

#maindeck{
	position: absolute;
	width: 150px;
	height: 260px;
	padding:30px;
	top: 695px;
	left:120px;
}
#cardresult,#carddeck,#cardback{
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid #0e0e0e
}

#cardresult{
	z-index: 2;
}

@keyframes flip{
	0% {transform: rotate3d(1, 1, 0, -90deg); top: 0;}
	50% {transform: rotate3d(1, 1, 0, 0deg); top: -200px;}
	100% {transform: rotate3d(1, 1, 0, 0deg); top: 0px;}
}
@keyframes fadedown{
	0% {top: 0; opacity: 100%;}
	100% {top: 200px; opacity: 0%;}
}
@keyframes fadeup{
	0% {top: 0; opacity: 100%;}
	100% {top: -200px; opacity: 0%;}
}


#maintable {
	position: absolute;
	width: 1800px;
	height: 600px;
	top: 500px;
	left:350px;
	padding:30px;
	display: grid;
  	grid-template-columns: var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap) var(--gap);
	grid-template-rows: 330px 330px;
}
.card{
	height: 257px;
	width: 150px;
	outline: 1px solid #d8d8d8
}
.yourcards{
	height: 192px;
	width: 112px;
	outline: 1px solid #d8d8d8
}


/*///////////////////////////////////////////////////////
//////////////////// settings.html //////////////////////
///////////////////////////////////////////////////////*/

@keyframes duringanimation_page {
    0% {pointer-events: none;}
    100% {pointer-events: all;}
}

@keyframes pagechange_left {
    from {left:130%;}
    to {left:-600px;}
}

@keyframes pagechange_right {
    from {left:-600px;}
    to {left:130%;}
}

@media (pointer:none), (pointer:coarse){
	html{visibility: hidden;}
}
