html {
	overflow-x: hidden;
	zoom:40%;
	width:5000px;
}

img,p,a{
    font-family: main;
	user-select: none;
	-webkit-user-drag: none;
}

.grid_ribbon {
    top:5px;
	position: fixed;
	display: inline-grid;
    grid: auto / auto auto auto auto;
    gap:150px;
    outline-color: black;
    outline-width: 1px;
    z-index: 8;
}

#subjects, #koikoi, #settings{
    height: 100px;
    width: auto;
    padding-top: 40px;
    padding-bottom: 35px;
    z-index: 8;
    animation-name: duringanimation_page;
    animation-duration: 8s;
	zoom:90%;

}

#subjects:hover, #koikoi:hover, #settings:hover{
    padding-top: 25px;
    padding-bottom: 45px;
}

#ribbon_underline{
    position: fixed;
    top: -250px;
    left:0px;
    width: 6500px;
    z-index: 2;
}

#animation_frame {
    position: fixed;
    z-index: 10;
    top:-20px;
    left:-30%;
    animation-name: pagechange_right;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    zoom:180%;
}

#logo{
    z-index: 8;
}


@font-face {
    font-family: main;
    src: url("font/Sylvia_Angel.ttf");
}

/*///////////////////////////////////////////////////////
//////////////////// Subject.html ///////////////////////
///////////////////////////////////////////////////////*/

.subjecttext{
	font-size: 50px;
    letter-spacing: 5px;
	left:55px;
	margin-top:100px;
	width:700px;
	padding:10px;
}

.subjecttext:hover{
    cursor:pointer;
	font-weight: bold
}

.lessontext{
	font-size: 50px;
    letter-spacing: 5px;
	left:55px;
	width:auto;
	text-indent: 150px;
	margin:-20px;
	margin-top:20px;
	margin-bottom:40px;
	opacity: 0; 
	display: none;
}

.learntext{
	margin-left:200px;
}

.quiztext{
	margin-left:100px;
}

.learntext:hover, .quiztext:hover{
	cursor:pointer;
	text-decoration: underline;
}

/*///////////////////////////////////////////////////////
//////////////////// lessons.html ///////////////////////
///////////////////////////////////////////////////////*/

.arrow {
	height:150px;
	margin: 100px;
}

.arrow:hover{
	cursor: pointer;
}

#leftarrow{
	position:fixed;
	bottom:0;
	left:0;
	visibility: hidden;
}

#rightarrow{
	position:fixed;
	bottom:0;
	right:0;
}

#lessontextbox{
	width:200vw;
	height:800px;
	margin: 10px;
	position: absolute;
	outline: 1px solid black;
	top: 40%;
	left:10%;
	
	font-family: main;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 50px;
    letter-spacing: 5px;
	line-height: 80px;
	padding: 40px;
	padding-top: 20px;
	padding-right: 20px;
	overflow: scroll;
	overflow-x: hidden;
}

#lessontextbox::-webkit-scrollbar {
	width: 15px;
	background: transparent;
}

#lessontextbox::-webkit-scrollbar-thumb{
	background: #000000;
	border-radius: 15px;
}

#lessontitle{
	width:200vw;
	height:100px;
	margin: 10px;
	position: absolute;
	top: 1%;
	left:10%;
	text-align: center;
	
    font-size: 100px;
    letter-spacing: 5px;
}

#learningyuyo{
	width:500px;
	height:500px;
	position: absolute;
  	left: 50%;
	top: 18%;
  	transform: translate(-50%, 0%);

	
}

/*///////////////////////////////////////////////////////
//////////////////// koikoi.html ////////////////////////
///////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////
//////////////////// settings.html //////////////////////
///////////////////////////////////////////////////////*/



@keyframes duringanimation_page {
    0% {pointer-events: none;}
    100% {pointer-events: all;}
}

@keyframes pagechange_left {
    from {left:130%;}
    to {left:-40%;}
}

@keyframes pagechange_right {
    from {left:-40%;}
    to {left:130%;}
}
